POSTGRES_USER=qa_user
POSTGRES_PASSWORD=qa_password
POSTGRES_DB=platform_admin
POSTGRES_PORT=5433

RABBITMQ_DEFAULT_USER=qa_user
RABBITMQ_DEFAULT_PASS=qa_password
RABBITMQ_DEFAULT_VHOST=qa
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
