POSTGRES_USER=qa_user
POSTGRES_PASSWORD=qa_password
POSTGRES_DB=platform_admin
POSTGRES_PORT=5433

RABBITMQ_DEFAULT_USER=qa_user
RABBITMQ_DEFAULT_PASS=qa_password
RABBITMQ_DEFAULT_VHOST=qa
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

INVENTORY_DATABASE_URL=postgresql://qa_user:qa_password@localhost:5433/inventory_db
INVENTORY_DATABASE_CONNECTION_TIMEOUT_MS=3000

PAYMENT_DATABASE_URL=postgresql://qa_user:qa_password@localhost:5433/payments_db
PAYMENT_DATABASE_CONNECTION_TIMEOUT_MS=3000
