INVENTORY_SERVICE_URL=http://127.0.0.1:3002
INVENTORY_REQUEST_TIMEOUT_MS=2000
PAYMENT_SERVICE_URL=http://127.0.0.1:3003
PAYMENT_REQUEST_TIMEOUT_MS=2000
RABBITMQ_URL=amqp://qa_user:qa_password@127.0.0.1:5672/qa
ORDER_EVENTS_EXCHANGE=order.events
ORDER_EVENT_PUBLISH_INTERVAL_MS=500
